*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(image/pexels-pixabay-259620.jpg);
    background-size: cover;
}

/* .weat{
    background-color: gold;
    padding: 20px;
    font-size: 60px;
}
.lab{
    color: gold;
    font-size: 100px;
}
.inp{
    height: 70px;
    width: 500px;
    padding: 20px;
    border: 5px solid gold;
    
} */
